/* header related styles */
.header{
    background-color: #E55473;
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    padding: 50px 250px 0px 100px ;
    display: flex;
    align-items: center;
}
.banner-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px 20px 43px;
}
.banner .profile-pic{
    width: 635px;
}
/* main related styles */
.main{
    background-color:#E55473;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    width: 1922px;
    height: 620px;
}
.section{
    padding: 100px 400px 100px 100px;
    display: flex;
    align-items: center;
}
.section-content{
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    font-size: 20px;
}
.section .profile-pic{
    width: 318px;
}